# SQL Cheat Sheet

### SUBSTRING

In [ ]:
SUBSTRING(
 <Column>,
 <Starting position>,
 <End position>
)

### CHARINDEX
CHARINDEX can be used to find the position of a character. It returns a number representing the position of the character in the string.

In [ ]:
CHARINDEX(
 '<character to look for>',
 <where to look>
)

### Adding Columns

In [ ]:
ALTER TABLE <Table name>
ADD <New Variable Name> <Data type>

### Setting Column Values

In [ ]:
UPDATE <Table name>
SET <New Variable Name> = <new variable>

### PARSENAME
It returns the specified part of the specified object name - Pieces are separated by '.'

In [ ]:
PARSENAME (
    <object name>,
    <object piece>
)

### REPLACE

In [ ]:
Replace(
    <object name>,
    'character to replace', 
    'character that replaces'
)

### Deleting Columns

In [ ]:
ALTER TABLE <Table Name> DROP COLUMN <Column Name>, <Column Name>, etc..

### CAST
This is used to treat a variable type as an alternative type.

In [ ]:
CAST(
    <variable> AS <datatype(length)> 
)

__To update the variable permanently__:
_only do this when you are the owner of the table or have permission_

In [ ]:
ALTER TABLE <YourTableHere>
ALTER COLUMN <YourTextColumnHere> <datatype(length)>